
<br><br>
<input type="text"  placeholder="Enter S.N." required [(ngModel)]="sn"><br><br>
<input type="file"  placeholder="Enter Image" [(ngModel)]="image" required><br><br>
<input type="text"  placeholder="Enter Title" [(ngModel)]="title" required><br><br>
<input type="text"  placeholder="Enter Price" [(ngModel)]="price" required><br><br>
<input type="text"  placeholder="Enter Rating" [(ngModel)]="rating" required><br><br>
<button mat-raised-button (click)="submit()">Add New User</button><br><br>